.d-flex .close-button {
    position: absolute;
    top: 1px;
    right: 1px;
    margin: 0;
    border: none;
}

.d-flex .dummy-div {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100;
}