<div class="d-flex flex-column align-items-center w-100">
    <span><strong>Friends</strong></span>
    <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
    <div class="d-flex align-items-center justify-content-center clickable" routerLink="./add-friend">
        <mat-icon class="mr-2">person_add</mat-icon>
        <span>Add a friend</span>
    </div>
    <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
    <mat-accordion displayMode="flat" class="scrollable flex-grow-1 w-100">
        <mat-expansion-panel *ngFor="let friend of (friends$ | async)">
            <mat-expansion-panel-header>
                <mat-panel-title class="d-flex align-items-center">
                    <span>{{friend.userName}}</span>
                    <span *ngIf="friend.status == 'online'" class="online-dot ml-2"></span>
                    <span *ngIf="friend.status == 'idle'" class="idle-dot ml-2"></span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex align-items-center justify-content-center clickable" (click)="onCreatePrivateChat(friend.id)">
                <mat-icon class="mr-2">message</mat-icon>
                <span>Start chat</span>
            </div>
            <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
            <div class="d-flex align-items-center clickable justify-content-center" (click)="onRemoveFriend(friend.id, friend.userName)">
                <mat-icon class="mr-2">clear</mat-icon>
                <span>Remove</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
    <span><strong>Friendship Requests</strong></span>
    <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
    <mat-accordion displayMode="flat" class="scrollable flex-grow-1 w-100">
        <mat-expansion-panel *ngFor="let friendshipRequest of (friendshipRequests$ | async)">
            <mat-expansion-panel-header>
                <mat-panel-title class="d-flex align-items-center">
                    <span>{{friendshipRequest.u.userName}}</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-divider class="w-100 mt-2 mb-2"></mat-divider>
            <div class="d-flex align-items-center clickable justify-content-center" (click)="onAcceptFriendshipRequest(friendshipRequest.f.id, friendshipRequest.u.userName)">
                <mat-icon class="mr-2">check</mat-icon>
                <span>Accept</span>
            </div>
            <div class="d-flex align-items-center clickable justify-content-center" (click)="onRejectFriendshipRequest(friendshipRequest.f.id, friendshipRequest.u.userName)">
                <mat-icon class="mr-2">close</mat-icon>
                <span>Reject</span>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>