<div class="w-100 d-flex flex-column align-items-center">
    <h1 class="mb-4">Create Chatroom</h1>
    <form class="d-flex flex-column justify-content-center align-items-center w-50" [formGroup]="createChatroomForm">
      <mat-form-field class="w-100">
        <input matInput placeholder="Chatroom Name" formControlName="name">
          <mat-error *ngIf="hasError('name')">
            Chatroom name is invalid
          </mat-error>
      </mat-form-field>
      <div class="d-flex flex-row justify-content-center mt-4 w-100">
        <button mat-raised-button type="button" [disabled]="createChatroomForm.invalid" class="w-50" (click)="onCreateChatroom()">Create</button>
        <button mat-raised-button class="w-50 ml-2" routerLink="../">Return to chat</button>
      </div>
    </form>
</div>
