@{
    ViewBag.Title = "Email Verification";
    Layout = "_Layout";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <div class="card-body">
                <span>Email verification failed. Click <a href="#">here</a> to resend the verification email.</span>
            </div>
        </div>
    </div>
</div>